@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Circular Std, Inter, Poppins;
  padding: 0px;
  margin: 0px;
  background-color: #191414;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* ::-webkit-scrollbar {
  width: 4px !important;
  height: 0px !important;
}

* ::-webkit-scrollbar-thumb {
  background-color: #535353;
  border-radius: 5px;
  height: 1px;
  width: 1px;
}

* ::-webkit-scrollbar-track {
  background-color: transparent;
  width: 1px;
}

